---
import { Image } from "astro:assets";

interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<style>
  div {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent);
    border-radius: 0.5rem;
    padding: clamp(1rem, 4vw, 1.5rem);
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 30rem;
  }

  .text_wrapper {
    gap: 1rem;
  }
  .svg {
    padding: 0;
    width: 2rem;
    margin-bottom: auto;
  }

  h2 {
    font-size: var(--text-md);
  }

  p {
    font-size: var(--text-sm);
  }
</style>

<div>
  <div class="svg">
    <slot />
  </div>
  <div class="text_wrapper">
    <h2>{title}</h2>
    <p>{text}</p>
  </div>
</div>
