---
const { lang } = Astro.params;
---

<footer class="section flex flex-col gap-4 pb-20 justify-center items-center">
  <div class="w-20"></div>
  <p class="text-xl font-bold mt-10 mb-5">{"placeholder"}:</p>
  <p>ul. Gorzowska 19/3, 66-435 Krzeszyce</p>
  <p>office@custom-steel.eu</p>
  <p>+48 535 044 105</p>
  <p>+48 535 811 395</p>
  <p>+48 733 615 744</p>
  <p class="sign">Made by: mateusz.chodacki@gmail.com</p>
</footer>
