---
const { lang } = Astro.params;
const { links } = Astro.props;
---

<style>
  .hidden {
    display: none;
  }

  nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-inline: 2rem;
    background-color: transparent;
    justify-content: end;
    z-index: 100;

    @media (min-width: 768px) {
      padding-inline: 1rem;
    }
  }

  nav .open {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  nav.open .nav_elements {
    display: flex;
  }

  nav .nav_elements {
    display: none;
    flex-direction: column;
    align-items: start;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  }

  nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav .logo {
    width: 2rem;
    margin: 0;
  }

  .button {
    width: 2rem;
    @media (max-width: 767px) {
      color: var(--color-light);
      display: flex;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
</style>

<nav id="nav">
  <div class="nav_elements">
    <a class="logo" href={`/${lang}/`}>
      <slot />
    </a>

    <div class="links">
      {
        Object.entries(links).map(([key, { href, text }]) => (
          <a href={href.startsWith("#") ? href : `/${lang}/${href}`}>{text}</a>
        ))
      }
    </div>

    <div class="languages">
      <a id="pl" href="/pl">PL</a>
      <a id="en" href="/en">EN</a>
      <a id="de" href="/de">DE</a>
    </div>
  </div>

  <button id="navButton" class="button">
    <svg
      id="openButton"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="openButton"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
    </svg>

    <svg
      id="closeButton"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="closeButton hidden"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
    </svg>
  </button>
</nav>

<script>
  const navButton = document.getElementById("navButton");
  const openButton = document.getElementById("openButton");
  const closeButton = document.getElementById("closeButton");

  const nav = document.getElementById("nav");

  const toggleNav = () => {
    nav?.classList.toggle("open");
    openButton.classList.toggle("hidden");
    closeButton.classList.toggle("hidden");
  };

  navButton.addEventListener("click", () => {
    toggleNav();
  });
</script>
